In [15]:
#load libraries for data wrangling
import pandas as pd
import re
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import seaborn as sns
import os
import dask.dataframe as dd
import csv
import importlib


#load function files
import Functions 
from Functions import *

In [16]:
importlib.reload(Functions)

### Data inspection

In [17]:
data_path = "/home/livtollanes/SocialMarkers"
data = load_data(data_path)

#what does data contain?
data.keys()

dict_keys(['marker_bios', 'marker_followers_bios', 'marker_followers', 'marker_friends', 'readme'])

In [18]:
#Print the first few rows of each DataFrame
for name, df in data.items():
    print(f"First few rows of '{name}':")
    if isinstance(df, str):
        print(df)
    else:
        print(df.head())

First few rows of 'marker_bios':
  twitter_name           id screen_name           name  \
0         Nike  415859364.0        Nike           Nike
1     adidasFR   25487201.0    adidasFR  adidas France
2      Lacoste   18481641.0     Lacoste        Lacoste
3     Converse  183398746.0    Converse       Converse
4      Moncler  187897893.0     Moncler        Moncler

                                         description  \
0               #BlackLivesMatter and #StopAsianHate
1                       ùï≠ùñéùñäùñìùñõùñäùñìùñöùñä ùñÜùñö ùïÆùñëùñöùñá ùï∫ùñóùñéùñåùñéùñìùñÜùñëùñò.
2  Moving with the world for 90 years. üêä #Lacoste...
3  Get inspired by the next generation of artists...
4  Born in the mountains, lives in the city. The ...

                                      url  timestamp_utc           local_time  \
0                         http://nike.com   1.321655e+09  2011-11-18T22:31:18
1    http://adidas.fr/impossibleisnothing   1.237546e+09  2009-03-20T10:46:03
2                 http://laco.st/HLXGdSFA   1.230656e+09  2008-12-30T17:00:44
3                     http://Converse.com   1.282862e+09  2010-08-26T22:28:23
4  http://monclerworld.moncler.com/genius   1.283864e+09  2010-09-07T12:54:05

                location  verified  ...   tweets  followers  friends   likes  \
0      Beaverton, Oregon       0.0  ...  38240.0  9788339.0    117.0  6958.0
1                  Paris       0.0  ...  16680.0   393006.0   1282.0  5287.0
2          Paris, France       0.0  ...   9852.0  1074248.0     86.0  5842.0
3  Boston, Massachusetts       0.0  ...   9937.0  1035205.0     24.0  7156.0
4              Worldwide       0.0  ...   4381.0  1108498.0    174.0  5714.0

     lists                                              image default_profile  \
0  11521.0  https://pbs.twimg.com/profile_images/153204435...             0.0
1    433.0  https://pbs.twimg.com/profile_images/156487532...             0.0
2   3430.0  https://pbs.twimg.com/profile_images/165379221...             0.0
3   2011.0  https://pbs.twimg.com/profile_images/875776501...             0.0
4    790.0  https://pbs.twimg.com/profile_images/646715077...             0.0

   default_profile_image  witheld_in_countries  witheld_scope
0                    0.0                   NaN            NaN
1                    0.0                   NaN            NaN
2                    0.0                   NaN            NaN
3                    0.0                   NaN            NaN
4                    0.0                   NaN            NaN

[5 rows x 21 columns]
First few rows of 'marker_followers_bios':
     twitter_id            id      screen_name           name  \
0  3.342215e+09  3.342215e+09      titisanogo8    Titi sanogo
1  3.115496e+09  3.115496e+09     AndreDeybach  DEYBACH Andr√©
2  2.440750e+08  2.440750e+08  matttownley1985   Matt Townley
3  2.986463e+09  2.986463e+09   alex_guevara90          Alex
4  1.519279e+18  1.519279e+18       PilotDad87           Matt

                                         description  url  timestamp_utc  \
0  Je crois en DIEU et √† mon travail j'y arrivera...  NaN   1.435018e+09
1                                                NaN  NaN   1.427309e+09
2  Hotelier, traveller, fan of all things hospita...  NaN   1.296221e+09
3                          to all MI b**** what's up  NaN   1.421473e+09
4  Pilot. dad. husband. Catholic. Recteq master. ...  NaN   1.651059e+09

            local_time               location  verified  ...  tweets  \
0  2015-06-23T00:05:44  Ile-de-France, France       0.0  ...     6.0
1  2015-03-25T18:45:08                    NaN       0.0  ...     0.0
2  2011-01-28T13:16:35    Manchester, England       0.0  ...  2535.0
3  2015-01-17T05:35:10                    NaN       0.0  ...    12.0
4  2022-04-27T11:36:23         Greenville, NC       0.0  ...    43.0

   followers  friends   likes  lists  \
0       44.0    733.0    91.0    0.0
1        1.0     40.0     0.0    0.0
2      772.0   1264.0  1251.0    7.0
3        8.0    118.0   172.0    0.0
4       14.0    137.0  2069.0    0.0

                                               image default_profile  \
0  https://pbs.twimg.com/profile_images/124939439...             1.0
1  https://pbs.twimg.com/profile_images/580803690...             1.0
2  https://pbs.twimg.com/profile_images/928075998...             0.0
3  https://pbs.twimg.com/profile_images/556324296...             1.0
4  https://pbs.twimg.com/profile_images/151928687...             1.0

   default_profile_image  witheld_in_countries  witheld_scope
0                    0.0                   NaN            NaN
1                    0.0                   NaN            NaN
2                    0.0                   NaN            NaN
3                    0.0                   NaN            NaN
4                    0.0                   NaN            NaN

[5 rows x 21 columns]
First few rows of 'marker_followers':
            id cursor   follower_id
0  415859364.0    NaN  1.655337e+18
1  415859364.0    NaN  1.659648e+18
2  415859364.0    NaN  1.525534e+18
3  415859364.0    NaN  1.659649e+18
4  415859364.0    NaN  1.659649e+18
First few rows of 'marker_friends':
            id cursor     friend_id
0  415859364.0    NaN  1.529870e+18
1  415859364.0    NaN  1.122469e+18
2  415859364.0    NaN  7.612210e+17
3  415859364.0    NaN  1.221308e+08
4  415859364.0    NaN  1.725138e+09
First few rows of 'readme':
# twitter data collection of french "markers"
# collected by armin pournaki on 2023-05-19

* markers_bios_2023-05-19.csv
twitter account metadata of 237 markers in minet user format

* markers_followers_2023-05-19.csv
| id                   | cursor       | follower_id            |
|----------------------+--------------+------------------------|
| twitter id of marker | minet cursor | twitter id of follower |

* markers_friends_2023-05-19.csv
| id                   | cursor       | friend_id            |
|----------------------+--------------+----------------------|
| twitter id of marker | minet cursor | twitter id of friend |

* markers_followers_bios_2023-05-19.csv
twitter account metadata (if non-private) of 70,666,646 followers in minet user format

In [ ]:
#Print the first 10 rows of the 'description' and 'location' in the 'marker_bios' and 'marker_followers_bios' DataFrames
for name, df in data.items():   
    if name == 'marker_bios' or name == 'marker_followers_bios':
        print(f"First 10 rows of '{name}':")
        print(df[['description','location']].head(10))

In [ ]:
# Inspect column types
print(data['marker_bios']['description'].dtype)
print(data['marker_bios']['location'].dtype)

# Inspect column types for marker_followers_bios
print(data['marker_followers_bios']['description'].dtype)
print(data['marker_followers_bios']['location'].dtype)

In [ ]:
#print and compute the number of unique locations in marker_followers_bios
print('Number of unique locations in marker_bios: {}'.format(len(data['marker_bios']['location'].unique())))
#make a list of unique locations in marker_bios
unique_locations = data['marker_bios']['location'].unique()


print(unique_locations.compute())

In [ ]:
# count the number of unique locations in marker_followers_bios
print('Number of unique locations in marker_followers_bios: {}'.format(len(data['marker_followers_bios']['location'].unique())))

In [ ]:
#inspect row number 287456 in marker_followers_bios
print(data['marker_followers_bios'].iloc[287456])

In [ ]:
#print Number of unique locations in marker_bios
print('Number of unique locations in marker_bios: {}'.format(len(data['marker_bios']['location'].unique())))

In [45]:
for name in ['marker_bios', 'marker_followers_bios']:
    dask_df = data[name]
    num_rows = dask_df.shape[0].compute()
    print(f'The total number of rows in {name} is {num_rows}.')

The total number of rows in marker_bios is 237.

ParserError: Error tokenizing data. C error: EOF inside string starting at row 287380

#### Chunked data

In [7]:
#Inspecting the chunked data
chunks = load_data_in_chunks(data_path, chunksize= 1000)
chunks.keys()



# Inspect the first chunk of each dataset
for name, chunk_generator in chunks.items():
    if name != 'readme':
        print(f"First chunk of {name}:")
        print(next(chunk_generator))
    else:
        print(f"Contents of {name}:")
        print(chunk_generator)

First chunk of bios:
      twitter_name          id    screen_name             name  \
0             Nike   415859364           Nike             Nike
1         adidasFR    25487201       adidasFR    adidas France
2          Lacoste    18481641        Lacoste          Lacoste
3         Converse   183398746       Converse         Converse
4          Moncler   187897893        Moncler          Moncler
..             ...         ...            ...              ...
232      Cdiscount    63142684      Cdiscount        Cdiscount
233           Fnac     8806412           Fnac             Fnac
234  rueducommerce    16933084  rueducommerce  Rue du Commerce
235         vinted  2228641753         vinted           Vinted
236   AmazonFrance  3823963875   AmazonFrance        Amazon.fr

                                           description  \
0                 #BlackLivesMatter and #StopAsianHate
1                         ùï≠ùñéùñäùñìùñõùñäùñìùñöùñä ùñÜùñö ùïÆùñëùñöùñá ùï∫ùñóùñéùñåùñéùñìùñÜùñëùñò.
2    Moving with the world for 90 years. üêä #Lacoste...
3    Get inspired by the next generation of artists...
4    Born in the mountains, lives in the city. The ...
..                                                 ...
232    Vous faites le choix du e-commerce fran√ßais  üá´üá∑
233  Compte officiel de la #Fnac : Actu High Tech /...
234  Retrouvez chaque jour des promos #hightech exc...
235  Second-hand marketplace. Give your clothes a s...
236  Official Twitter of http://Amazon.fr  Contact ...

                                         url  timestamp_utc  \
0                            http://nike.com     1321655478
1       http://adidas.fr/impossibleisnothing     1237545963
2                    http://laco.st/HLXGdSFA     1230656444
3                        http://Converse.com     1282861703
4     http://monclerworld.moncler.com/genius     1283864045
..                                       ...            ...
232                   https://bit.ly/3qfAo2e     1249481564
233                      http://www.fnac.com     1189501813
234              http://www.rueducommerce.fr     1224788853
235  http://www.vinted.com/l/welcome_twitter     1386093237
236                         http://amazon.fr     1443615691

              local_time               location  verified  ...  tweets  \
0    2011-11-18T22:31:18      Beaverton, Oregon         0  ...   38240
1    2009-03-20T10:46:03                  Paris         0  ...   16680
2    2008-12-30T17:00:44          Paris, France         0  ...    9852
3    2010-08-26T22:28:23  Boston, Massachusetts         0  ...    9937
4    2010-09-07T12:54:05              Worldwide         0  ...    4381
..                   ...                    ...       ...  ...     ...
232  2009-08-05T14:12:44                 France         0  ...  138131
233  2007-09-11T09:10:13                 France         0  ...  220101
234  2008-10-23T19:07:33                  Paris         0  ...   84158
235  2013-12-03T17:53:57                    NaN         0  ...    5402
236  2015-09-30T12:21:31                 France         0  ...      80

     followers  friends  likes  lists  \
0      9788339      117   6958  11521
1       393006     1282   5287    433
2      1074248       86   5842   3430
3      1035205       24   7156   2011
4      1108498      174   5714    790
..         ...      ...    ...    ...
232     616438     6832  11990    710
233     501158     1136   6135   1056
234     206990     1306   4770    664
235      23290     1003   3125     89
236       5507        1    111     27

                                                 image default_profile  \
0    https://pbs.twimg.com/profile_images/153204435...               0
1    https://pbs.twimg.com/profile_images/156487532...               0
2    https://pbs.twimg.com/profile_images/165379221...               0
3    https://pbs.twimg.com/profile_images/875776501...               0
4    https://pbs.twimg.com/profile_images/646715077...               0
..                                                 ...             ...
232  https://pbs.twimg.com/profile_images/160591205...               0
233  https://pbs.twimg.com/profile_images/162363771...               0
234  https://pbs.twimg.com/profile_images/162904163...               0
235  https://pbs.twimg.com/profile_images/157586386...               0
236  https://pbs.twimg.com/profile_images/651672813...               1

     default_profile_image  witheld_in_countries  witheld_scope
0                        0                   NaN            NaN
1                        0                   NaN            NaN
2                        0                   NaN            NaN
3                        0                   NaN            NaN
4                        0                   NaN            NaN
..                     ...                   ...            ...
232                      0                   NaN            NaN
233                      0                   NaN            NaN
234                      0                   NaN            NaN
235                      0                   NaN            NaN
236                      0                   NaN            NaN

[237 rows x 21 columns]
First chunk of followers_bios:
              twitter_id                   id      screen_name  \
0             3342215494           3342215494      titisanogo8
1             3115495713           3115495713     AndreDeybach
2              244075010            244075010  matttownley1985
3             2986463442           2986463442   alex_guevara90
4    1519279241858330625  1519279241858330625       PilotDad87
..                   ...                  ...              ...
995           3412930151           3412930151          AmrEyma
996  1493744756509143051  1493744756509143051    SorretMaeline
997  1468830736178319365  1468830736178319365   Nihal405994871
998  1435120709102080001  1435120709102080001  0iytHAVcmqUa97Q
999            567639445            567639445      JuliqBikova

                                    name  \
0                            Titi sanogo
1                          DEYBACH Andr√©
2                           Matt Townley
3                                  Alex
4                                   Matt
..                                   ...
995                             aMr EyMa
996                       Maeline sorret
997  Nihal.bit | HealthHero | üåäüìò | üõ∏.bit
998                             ÿπŸÑŸä ÿ≥ÿ™ÿßÿ±
999                                Julia

                                           description  \
0    Je crois en DIEU et √† mon travail j'y arrivera...
1                                                  NaN
2    Hotelier, traveller, fan of all things hospita...
3                            to all MI b**** what's up
4    Pilot. dad. husband. Catholic. Recteq master. ...
..                                                 ...
995                                                NaN
996                                                NaN
997  Cyptro (‚öñÔ∏è,üåç)\n@0xHashstack Contributor\n$BOLT...
998                                                NaN
999                                             dancer

                                          url  timestamp_utc  \
0                                         NaN     1435017944
1                                         NaN     1427309108
2                                         NaN     1296220595
3                                         NaN     1421472910
4                                         NaN     1651059383
..                                        ...            ...
995                                       NaN     1439221022
996                                       NaN     1644971503
997           https://link3.to/nihal405994871     1639031520
998                                       NaN     1630994461
999  https://www.facebook.com/#!/juliq.bikova     1335827031

              local_time               location  verified  ...  tweets  \
0    2015-06-23T00:05:44  Ile-de-France, France         0  ...       6
1    2015-03-25T18:45:08                    NaN         0  ...       0
2    2011-01-28T13:16:35    Manchester, England         0  ...    2535
3    2015-01-17T05:35:10                    NaN         0  ...      12
4    2022-04-27T11:36:23         Greenville, NC         0  ...      43
..                   ...                    ...       ...  ...     ...
995  2015-08-10T15:37:02                    NaN         0  ...       2
996  2022-02-16T00:31:43                    NaN         0  ...       0
997  2021-12-09T06:32:00                 INDIA          0  ...    3490
998  2021-09-07T06:01:01                    NaN         0  ...       2
999  2012-04-30T23:03:51               Bulgaria         0  ...       5

     followers  friends  likes  lists  \
0           44      733     91      0
1            1       40      0      0
2          772     1264   1251      7
3            8      118    172      0
4           14      137   2069      0
..         ...      ...    ...    ...
995          0       41      0      0
996          0       15      6      0
997        198     2486   1636     13
998          4      109      1      0
999         11       52     58      0

                                                 image default_profile  \
0    https://pbs.twimg.com/profile_images/124939439...               1
1    https://pbs.twimg.com/profile_images/580803690...               1
2    https://pbs.twimg.com/profile_images/928075998...               0
3    https://pbs.twimg.com/profile_images/556324296...               1
4    https://pbs.twimg.com/profile_images/151928687...               1
..                                                 ...             ...
995  https://pbs.twimg.com/profile_images/630765238...               1
996  https://abs.twimg.com/sticky/default_profile_i...               1
997  https://pbs.twimg.com/profile_images/165265797...               1
998  https://pbs.twimg.com/profile_images/143512090...               1
999  https://pbs.twimg.com/profile_images/281095333...               1

     default_profile_image  witheld_in_countries  witheld_scope
0                        0                   NaN            NaN
1                        0                   NaN            NaN
2                        0                   NaN            NaN
3                        0                   NaN            NaN
4                        0                   NaN            NaN
..                     ...                   ...            ...
995                      0                   NaN            NaN
996                      1                   NaN            NaN
997                      0                   NaN            NaN
998                      0                   NaN            NaN
999                      0                   NaN            NaN

[1000 rows x 21 columns]
First chunk of followers:
            id cursor          follower_id
0    415859364    NaN  1655336804831174657
1    415859364    NaN  1659648141497454593
2    415859364    NaN  1525534139478310915
3    415859364    NaN  1659648883209674764
4    415859364    NaN  1659648836594458626
..         ...    ...                  ...
995  415859364    NaN  1659468164944785409
996  415859364    NaN  1538828288185049088
997  415859364    NaN  1659466878211825667
998  415859364    NaN  1659464467174891520
999  415859364    NaN   839310063282053120

[1000 rows x 3 columns]
First chunk of friends:
            id cursor            friend_id
0    415859364    NaN  1529869580843237376
1    415859364    NaN  1122468522297298945
2    415859364    NaN   761220960213168131
3    415859364    NaN            122130797
4    415859364    NaN           1725137533
..         ...    ...                  ...
995   25487201    NaN            430712467
996   25487201    NaN            567203292
997   25487201    NaN            381088941
998   25487201    NaN            313241888
999   25487201    NaN             17804231

[1000 rows x 3 columns]
Contents of readme:
# twitter data collection of french "markers"
# collected by armin pournaki on 2023-05-19

* markers_bios_2023-05-19.csv
twitter account metadata of 237 markers in minet user format

* markers_followers_2023-05-19.csv
| id                   | cursor       | follower_id            |
|----------------------+--------------+------------------------|
| twitter id of marker | minet cursor | twitter id of follower |

* markers_friends_2023-05-19.csv
| id                   | cursor       | friend_id            |
|----------------------+--------------+----------------------|
| twitter id of marker | minet cursor | twitter id of friend |

* markers_followers_bios_2023-05-19.csv
twitter account metadata (if non-private) of 70,666,646 followers in minet user format

In [8]:
chunks.keys()

dict_keys(['bios', 'followers_bios', 'followers', 'friends', 'readme'])

In [24]:


def inspect_problematic_row(data_path, key, row_number):
    chunksize = 1000  # Adjust as needed
    file_path = data_path + '/' + key + '.csv'
    i = 0
    for chunk in pd.read_csv(file_path, chunksize=chunksize):
        chunk.reset_index(inplace=True)
        if row_number < (i + 1) * chunksize and row_number >= i * chunksize:
            if row_number % chunksize < len(chunk):
                return chunk.loc[row_number % chunksize], row_number
        i += 1

# Usage
key = 'markers_followers_bios_2023-05-19'
row_number = 287131
problematic_row, original_row_number = inspect_problematic_row(data_path, key, row_number)
print(f"Original row number: {original_row_number}")
print("Row data:")
print(problematic_row)

Original row number: 287131
Row data:
index                                                               287131
twitter_id                                             1614030263431974912
id                                                     1614030263431974912
screen_name                                                    PatriceVrai
name                                                       Patrice le vrai
description                                                            NaN
url                                                                    NaN
timestamp_utc                                                   1673649794
local_time                                             2023-01-13T22:43:14
location                                                               NaN
verified                                                                 0
protected                                                                0
tweets                                                                  11
followers                                                                0
friends                                                                  6
likes                                                                    0
lists                                                                    0
image                    https://pbs.twimg.com/profile_images/161418248...
default_profile                                                          1
default_profile_image                                                    0
witheld_in_countries                                                   NaN
witheld_scope                                                          NaN
Name: 131, dtype: object

In [ ]:
import pandas as pd

def inspect_problematic_row(data_path, key, row_number):
    chunksize = 10000  # Adjust as needed
    file_path = data_path + '/' + key + '.csv'
    i = 0
    for chunk in pd.read_csv(file_path, chunksize=chunksize):
        if row_number < (i + 1) * chunksize:
            return chunk.loc[row_number % chunksize]
        i += 1

# Usage
data_path = "/home/livtollanes/SocialMarkers"
key = 'marker_followers_bios'
row_number = 287131
problematic_row = inspect_problematic_row(data_path, key, row_number)
print(problematic_row)

### Data merging for french entries only

Total number of rows in followers_bios: 0