In [14]:
#load libraries for data wrangling
import pandas as pd
import re
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
import seaborn as sns
import os
import dask.dataframe as dd
import csv
import importlib


#load function files
import Functions 
from Functions import *

In [16]:
importlib.reload(Functions)

### Data inspection

In [20]:
data_path = "/home/livtollanes/SocialMarkers"
data = load_data(data_path)

#what does data contain?
data.keys()

dict_keys(['marker_bios', 'marker_followers_bios', 'marker_followers', 'marker_friends', 'readme'])

In [19]:
#Print the first few rows of each DataFrame
for name, df in data.items():
    print(f"First few rows of '{name}':")
    if isinstance(df, str):
        print(df)
    else:
        print(df.head())

First few rows of 'marker_bios':
  twitter_name           id screen_name           name  \
0         Nike  415859364.0        Nike           Nike
1     adidasFR   25487201.0    adidasFR  adidas France
2      Lacoste   18481641.0     Lacoste        Lacoste
3     Converse  183398746.0    Converse       Converse
4      Moncler  187897893.0     Moncler        Moncler

                                         description  \
0               #BlackLivesMatter and #StopAsianHate
1                       ùï≠ùñéùñäùñìùñõùñäùñìùñöùñä ùñÜùñö ùïÆùñëùñöùñá ùï∫ùñóùñéùñåùñéùñìùñÜùñëùñò.
2  Moving with the world for 90 years. üêä #Lacoste...
3  Get inspired by the next generation of artists...
4  Born in the mountains, lives in the city. The ...

                                      url  timestamp_utc           local_time  \
0                         http://nike.com   1.321655e+09  2011-11-18T22:31:18
1    http://adidas.fr/impossibleisnothing   1.237546e+09  2009-03-20T10:46:03
2                 http://laco.st/HLXGdSFA   1.230656e+09  2008-12-30T17:00:44
3                     http://Converse.com   1.282862e+09  2010-08-26T22:28:23
4  http://monclerworld.moncler.com/genius   1.283864e+09  2010-09-07T12:54:05

                location  verified  ...   tweets  followers  friends   likes  \
0      Beaverton, Oregon       0.0  ...  38240.0  9788339.0    117.0  6958.0
1                  Paris       0.0  ...  16680.0   393006.0   1282.0  5287.0
2          Paris, France       0.0  ...   9852.0  1074248.0     86.0  5842.0
3  Boston, Massachusetts       0.0  ...   9937.0  1035205.0     24.0  7156.0
4              Worldwide       0.0  ...   4381.0  1108498.0    174.0  5714.0

     lists                                              image default_profile  \
0  11521.0  https://pbs.twimg.com/profile_images/153204435...             0.0
1    433.0  https://pbs.twimg.com/profile_images/156487532...             0.0
2   3430.0  https://pbs.twimg.com/profile_images/165379221...             0.0
3   2011.0  https://pbs.twimg.com/profile_images/875776501...             0.0
4    790.0  https://pbs.twimg.com/profile_images/646715077...             0.0

   default_profile_image  witheld_in_countries  witheld_scope
0                    0.0                   NaN            NaN
1                    0.0                   NaN            NaN
2                    0.0                   NaN            NaN
3                    0.0                   NaN            NaN
4                    0.0                   NaN            NaN

[5 rows x 21 columns]
First few rows of 'marker_followers_bios':
     twitter_id            id      screen_name           name  \
0  3.342215e+09  3.342215e+09      titisanogo8    Titi sanogo
1  3.115496e+09  3.115496e+09     AndreDeybach  DEYBACH Andr√©
2  2.440750e+08  2.440750e+08  matttownley1985   Matt Townley
3  2.986463e+09  2.986463e+09   alex_guevara90          Alex
4  1.519279e+18  1.519279e+18       PilotDad87           Matt

                                         description  url  timestamp_utc  \
0  Je crois en DIEU et √† mon travail j'y arrivera...  NaN   1.435018e+09
1                                                NaN  NaN   1.427309e+09
2  Hotelier, traveller, fan of all things hospita...  NaN   1.296221e+09
3                          to all MI b**** what's up  NaN   1.421473e+09
4  Pilot. dad. husband. Catholic. Recteq master. ...  NaN   1.651059e+09

            local_time               location  verified  ...  tweets  \
0  2015-06-23T00:05:44  Ile-de-France, France       0.0  ...     6.0
1  2015-03-25T18:45:08                    NaN       0.0  ...     0.0
2  2011-01-28T13:16:35    Manchester, England       0.0  ...  2535.0
3  2015-01-17T05:35:10                    NaN       0.0  ...    12.0
4  2022-04-27T11:36:23         Greenville, NC       0.0  ...    43.0

   followers  friends   likes  lists  \
0       44.0    733.0    91.0    0.0
1        1.0     40.0     0.0    0.0
2      772.0   1264.0  1251.0    7.0
3        8.0    118.0   172.0    0.0
4       14.0    137.0  2069.0    0.0

                                               image default_profile  \
0  https://pbs.twimg.com/profile_images/124939439...             1.0
1  https://pbs.twimg.com/profile_images/580803690...             1.0
2  https://pbs.twimg.com/profile_images/928075998...             0.0
3  https://pbs.twimg.com/profile_images/556324296...             1.0
4  https://pbs.twimg.com/profile_images/151928687...             1.0

   default_profile_image  witheld_in_countries  witheld_scope
0                    0.0                   NaN            NaN
1                    0.0                   NaN            NaN
2                    0.0                   NaN            NaN
3                    0.0                   NaN            NaN
4                    0.0                   NaN            NaN

[5 rows x 21 columns]
First few rows of 'marker_followers':
            id cursor   follower_id
0  415859364.0    NaN  1.655337e+18
1  415859364.0    NaN  1.659648e+18
2  415859364.0    NaN  1.525534e+18
3  415859364.0    NaN  1.659649e+18
4  415859364.0    NaN  1.659649e+18
First few rows of 'marker_friends':
            id cursor     friend_id
0  415859364.0    NaN  1.529870e+18
1  415859364.0    NaN  1.122469e+18
2  415859364.0    NaN  7.612210e+17
3  415859364.0    NaN  1.221308e+08
4  415859364.0    NaN  1.725138e+09
First few rows of 'readme':
# twitter data collection of french "markers"
# collected by armin pournaki on 2023-05-19

* markers_bios_2023-05-19.csv
twitter account metadata of 237 markers in minet user format

* markers_followers_2023-05-19.csv
| id                   | cursor       | follower_id            |
|----------------------+--------------+------------------------|
| twitter id of marker | minet cursor | twitter id of follower |

* markers_friends_2023-05-19.csv
| id                   | cursor       | friend_id            |
|----------------------+--------------+----------------------|
| twitter id of marker | minet cursor | twitter id of friend |

* markers_followers_bios_2023-05-19.csv
twitter account metadata (if non-private) of 70,666,646 followers in minet user format